@import '../../styles/index.scss';

.navbar-btn{
    background: $color06;
    color: $color04;
    border: 1px solid $color05;
    border-radius: .4rem;
    padding: .8rem 1.8rem;
    font-size: .8rem;

    &:hover{
        cursor: pointer;
    }

    @include mobile{
        padding: .6rem 1.4rem;
        font-size: .6rem;
    }
    .nav-link{
        padding: 0 .2rem;

        &:hover{
            text-decoration: underline;
        }

        a{
            color: $color04;
            text-decoration: none;
        }
        
        .active {
            text-decoration: underline;
        }
    }
}