@import '../../styles/index.scss';

.no-result{
    position: relative;

    .content{
        position: absolute;
        top: 50%;
        right: 50%;
        transform: translate(-50% -50%);
        display: flex;
        align-items: center;
        justify-content: center;
    }
    
}