$color01: #EDF6FF;
$color02: #303F60;
$color03: #1A253C;
$color04: #FFFFFF;
$color05: #43afff;
$color06: #43AFFF33;
$color07: #4D618E;
$color08: #557DA526;
$color09: #C6C6C6;
$color10: #E8E8E833;
$color11: #FF333380;
$color12: #288dda;
$color13: #7A839A;
$color14: #A9AFBC;
$color15: #dbdde1;
$color16: #D9EFFF;
$color17: #303F60